<!-- <div class="jumbotron"> -->
   <div class="row">

      <div class="col-sm-3">
         <div class="panel panel-default">
            <div class="panel-heading">
               <h3 class="panel-title">Classes</h3>
            </div>
            <div class="panel-body autoHeightClasses">
               <ul class="nav nav-pills spellsNav" ng-repeat="singleClass in playerClasses">
                  <li ng-class="{ active: isActiveClass(singleClass._id) }">
                     <a href="#" ng-click="showSpells(singleClass._id)">{{singleClass.name}}</a>
                  </li>
               </ul>
            </div>
         </div>
      </div>

      <div class="col-sm-3">
         <div class="panel panel-default">
            <div class="panel-heading">
               <h3 class="panel-title">Spells</h3>
            </div>
         </div>

         <div class="panel panel-default autoHeightSpellsWithLevels" ng-show="isThereASpellToDisplay()">
            <div ng-show="spellsLevel0.length" class="panel-heading">
                  <div>Level 0</div>
            </div>
            <div ng-show="spellsLevel0.length" class="panel-body">
               <ul class="nav nav-pills spellsNav" ng-repeat="spell in spellsLevel0">
                  <li ng-class="{ active: isActiveSpell(spell._id) }">
                     <a href="#" ng-click="showSpellDetails(spell)">{{spell.name}}</a>
                  </li>
               </ul>
            </div>

            <div ng-show="spellsLevel1.length" class="panel-heading">
               <div>Level 1</div>
            </div>
            <div ng-show="spellsLevel1.length" class="panel-body">
               <ul class="nav nav-pills spellsNav" ng-repeat="spell in spellsLevel1">
                  <li ng-class="{ active: isActiveSpell(spell._id) }">
                     <a href="#" ng-click="showSpellDetails(spell)">{{spell.name}}</a>
                  </li>
               </ul>
            </div>

            <div ng-show="spellsLevel2.length" class="panel-heading">
               <div>Level 2</div>
            </div>
            <div ng-show="spellsLevel2.length" class="panel-body">
               <ul class="nav nav-pills spellsNav" ng-repeat="spell in spellsLevel2">
                  <li ng-class="{ active: isActiveSpell(spell._id) }">
                     <a href="#" ng-click="showSpellDetails(spell)">{{spell.name}}</a>
                  </li>
               </ul>
            </div>

            <div ng-show="spellsLevel3.length" class="panel-heading">
               <div>Level 3</div>
            </div>
            <div ng-show="spellsLevel3.length" class="panel-body">
               <ul class="nav nav-pills spellsNav" ng-repeat="spell in spellsLevel3">
                  <li ng-class="{ active: isActiveSpell(spell._id) }">
                     <a href="#" ng-click="showSpellDetails(spell)">{{spell.name}}</a>
                  </li>
               </ul>
            </div>

            <div ng-show="spellsLevel4.length" class="panel-heading">
               <div>Level 4</div>
            </div>
            <div ng-show="spellsLevel4.length" class="panel-body">
               <ul class="nav nav-pills spellsNav" ng-repeat="spell in spellsLevel4">
                  <li ng-class="{ active: isActiveSpell(spell._id) }">
                     <a href="#" ng-click="showSpellDetails(spell)">{{spell.name}}</a>
                  </li>
               </ul>
            </div>

            <div ng-show="spellsLevel5.length" class="panel-heading">
               <div>Level 5</div>
            </div>
            <div ng-show="spellsLevel5.length" class="panel-body">
               <ul class="nav nav-pills spellsNav" ng-repeat="spell in spellsLevel5">
                  <li ng-class="{ active: isActiveSpell(spell._id) }">
                     <a href="#" ng-click="showSpellDetails(spell)">{{spell.name}}</a>
                  </li>
               </ul>
            </div>

            <div ng-show="spellsLevel6.length" class="panel-heading">
               <div>Level 6</div>
            </div>
            <div ng-show="spellsLevel6.length" class="panel-body">
               <ul class="nav nav-pills spellsNav" ng-repeat="spell in spellsLevel6">
                  <li ng-class="{ active: isActiveSpell(spell._id) }">
                     <a href="#" ng-click="showSpellDetails(spell)">{{spell.name}}</a>
                  </li>
               </ul>
            </div>

            <div ng-show="spellsLevel7.length" class="panel-heading">
               <div>Level 7</div>
            </div>
            <div ng-show="spellsLevel7.length" class="panel-body">
               <ul class="nav nav-pills spellsNav" ng-repeat="spell in spellsLevel7">
                  <li ng-class="{ active: isActiveSpell(spell._id) }">
                     <a href="#" ng-click="showSpellDetails(spell)">{{spell.name}}</a>
                  </li>
               </ul>
            </div>

            <div ng-show="spellsLevel8.length" class="panel-heading">
               <div>Level 8</div>
            </div>
            <div ng-show="spellsLevel8.length" class="panel-body">
               <ul class="nav nav-pills spellsNav" ng-repeat="spell in spellsLevel8">
                  <li ng-class="{ active: isActiveSpell(spell._id) }">
                     <a href="#" ng-click="showSpellDetails(spell)">{{spell.name}}</a>
                  </li>
               </ul>
            </div>

            <div ng-show="spellsLevel9.length" class="panel-heading">
               <div>Level 9</div>
            </div>
            <div ng-show="spellsLevel9.length" class="panel-body">
               <ul class="nav nav-pills spellsNav" ng-repeat="spell in spellsLevel9">
                  <li ng-class="{ active: isActiveSpell(spell._id) }">
                     <a href="#" ng-click="showSpellDetails(spell)">{{spell.name}}</a>
                  </li>
               </ul>
            </div>

            <div ng-show="spellsLevel10.length" class="panel-heading">
               <div>Level 10</div>
            </div>
            <div ng-show="spellsLevel10.length" class="panel-body">
               <ul class="nav nav-pills spellsNav" ng-repeat="spell in spellsLevel10">
                  <li ng-class="{ active: isActiveSpell(spell._id) }">
                     <a href="#" ng-click="showSpellDetails(spell)">{{spell.name}}</a>
                  </li>
               </ul>
            </div>
         </div>

      </div>

      <div class="col-sm-6">
         <div class="panel panel-default">
            <div class="panel-heading">
               <h2 class="panel-title">Spell Details</h2>
            </div>
            <div class="panel-body autoHeightClasses" ng-show="isAnySpellSelected()">
               <h5 class="spellDetailName">{{selectedSpell.name}}</h5>
               <div class="spellDetailTypeAndLevel">Level {{selectedSpell.level}} {{selectedSpell.type}}</div>
               <div><strong>Casting Time:</strong> {{selectedSpell.castingTime.value}} {{selectedSpell.castingTime.unit}}</div>
               <div><strong>Range:</strong> {{selectedSpell.range.value | spellRange : selectedSpell.range.description}}</div>
               <div><strong>Components:</strong> {{selectedSpell.components.verbal | spellComponents: selectedSpell.components.somatic : selectedSpell.components.material : selectedSpell.components.materialDescription}}</div>
               <div><strong>Duration:</strong> {{selectedSpell.duration.concentration | spellConcentration}} {{selectedSpell.duration.amount}}</div>
               <div><strong>Description:</strong>
                  <div ng-repeat="descriptionLine in descriptionLinesOfSelectedSpell track by $index">
                     {{descriptionLine}}
                  </div>
               </div>
            </div>

         </div>
      </div>

<!-- </div> -->
