<div class="row">

   <div class="col-sm-4">
      <div class="panel panel-default">
         <div class="panel-heading">
            <h3 class="panel-title">Spells</h3>
         </div>

         <div class="panel-body autoHeightClasses">
            <ul class="nav nav-pills spellsNav" ng-repeat="spell in allSpells">
               <li ng-class="{ active: isActiveSpell(spell._id) }">
                  <a href="#" ng-click="showSpellDetails(spell)">{{spell.name}}</a>
               </li>
            </ul>
         </div>



      </div>
   </div>

   <div class="col-sm-8">
      <div class="panel panel-default">
         <div class="panel-heading">
            <h2 class="panel-title">Spell Details</h2>
         </div>
         <div class="panel-body" ng-show="isAnySpellSelected()">
            <h5 class="spellDetailName">{{selectedSpell.name}}</h5>
            <div class="spellDetailTypeAndLevel">Level {{selectedSpell.level}} {{selectedSpell.type}}</div>
            <div><strong>Casting Time:</strong> {{selectedSpell.castingTime.value}} {{selectedSpell.castingTime.unit}}</div>
            <div><strong>Range:</strong> {{selectedSpell.range.value | spellRange : selectedSpell.range.description}}</div>
            <div><strong>Components:</strong> {{selectedSpell.components.verbal | spellComponents: selectedSpell.components.somatic : selectedSpell.components.material : selectedSpell.components.materialDescription}}</div>
            <div><strong>Duration:</strong> {{selectedSpell.duration.concentration | spellConcentration}} {{selectedSpell.duration.amount}}</div>
            <div><strong>Description:</strong>
               <div ng-repeat="descriptionLine in descriptionLinesOfSelectedSpell track by $index">
                  {{descriptionLine}}
               </div>
            </div>
         </div>

      </div>
   </div>
