body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h2 {
	margin:0 0 .5em 0;
}

a {
  color: #00B7FF;
}

#wrapper {
	padding-left:312px;
	position:relative;
}


#spellInfo {
	width:250px;
	position:absolute;
	top:0; left:0;
}
	#spellInfo div {
		padding:15px;
		border:1px solid rgba(80,120,255, 0.3);
		background:rgba(80,120,255,0.1);
	}

.linkShowSpell {
   color : blue;
}

.linkDeleteSpell {
   margin-left: 10px;
   color : red;
}

.linkEditSpell {
   margin-left: 10px;
   color : green;
}


fieldset {
	border:0;
	padding:0; margin:0;
}
