body {
   background-color: #eee;
   overflow-y: hidden;
}

.spellDetailName {
   font-weight: bold;
}

.spellDetailTypeAndLevel {
   font-style: italic;
}

.spellsNav>li>a {
   padding: 4px 15px;
}

.autoHeightClasses {
   max-height: calc(100vh - 125px);
   overflow-y: auto;
}

.autoHeightSpellsWithLevels {
   max-height: calc(100vh - 145px);
   overflow-y: auto;
}

.autoHeightSpells {
   max-height: calc(100vh - 155px);
   overflow-y: auto;
}
